<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <connectionStrings>
    <add name="MatriculasContext"
         connectionString="Server=localhost;Database=BD_Unidad_Pedagogica_Sistema;User Id=root;Password=Ilian29*;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>